.App {
  text-align: center;
  
  margin: 0 auto;
  background: red;
  background-image: url('./images/dogsBackground.jpg');
  min-height: 1000px; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Container {
  max-width: 1300px;
  margin: 0 auto;
}
.ImgRandDog-cover img {
  object-fit: cover;
  margin: 5px 10px;
  width: 300px;
  height: 300px;
}

img:hover {
  cursor: pointer;
  opacity: .8;
  transform: scale(1.03);
  transition: .7s;
  border-radius: 2px;
}


.DogBreedTitle {
  font-weight: bolder;
  text-transform: uppercase;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.DogsListHeader {
  background-color: transparent;
  background-color: rgba(220, 229,244, 0.6); 
}
.DogsList {
  background-color: transparent;
  background-color: rgba(197, 196, 204, 0.568); 
}

.DogsList li {
  color: #282c34;
  font-size: 20px;
  text-transform: uppercase;
  width:25%; 
  float:left;
}

.Footer {
  width: 100%;
  line-height: 40px;
  text-align: center;
  bottom: 0;
  background-color: #282c34;
  color: aliceblue;
}