.App {
  text-align: center;
  width: 1300px;
  margin: 0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ImgRandDog-cover img {
  object-fit: cover;
  margin: 5px 10px;
  width: 300px;
  height: 300px;
}

img:hover {
  cursor: pointer;
  opacity: .8;
  transform: scale(1.03);
  transition: .7s;
  border-radius: 2px;
}


.DogBreedTitle {
  font-weight: bolder;
  text-transform: uppercase;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
